<%- include('../partials/header') %>
<section id="show-page">
    <div>Name: </div>
    <div><%= plant.name %></div>
    <div>Variety: </div>
    <div><%= plant.variety %></div>
    <div>Area: </div>
    <div><%= plant.area %></div>
    <div>Cycle: </div>
    <div><%= plant.cycle %></div>
    <div>Soil: </div>
    <div><%= plant.soil %></div>
    <div>Water: </div>
    <div><%= plant.water %></div>
    <div>Fertilizer: </div>
    <div><%= plant.fertilizer %></div>
  </section>
<a href="/plants/<%= plant._id %>/edit">Edit Plant🪴</a>

</section>

  <br><br><h2>Opine:</h2>
  <form id="add-comment-form" method="POST"
    action="/plants/<%= plant._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    </select>
    <input type="submit" value="🍃">
  </form>

  <% if (plant.comments && plant.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% plant.comments.forEach(function(c) { %>
          <tr>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td>
              <% if (user?._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit">🗑️</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
          <td>
            <strong>
              <%= (plant.comments.length).toFixed(1) %>
            </strong>
          </td>
        </tr>
      </tbody>
    </table>    
    <% } else { %>
      <h5>No Opines Yet</h5>
    <% } %>

<%- include('../partials/footer') %>